<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<listeners>
		<listener class-name="OmkarIngale.TestComponents.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Sunmit Order Test">
    <classes>
      <class name="OmkarIngale.SeleniumFrameworkDesign.StandAloneProjectTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Erro  Validation Test">
	  <classes>
		  <class name="OmkarIngale.SeleniumFrameworkDesign.ErrorValidationsTest"></class>
	  </classes>
  </test>
</suite> <!-- Suite -->
